
<launch>

  <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find p3dx_navigation)/maps/map_lab.yaml" output="screen"/>

<include file="$(find p3dx_navigation)/launch/joy.launch" />

  <!--- Run AMCL -->
  <!--<include file="$(find p3dx_navigation)/launch/amcl_diff_rosaria.launch" />
  
   <node name="amcl" pkg="amcl" type="amcl" output="screen"/>-->


</launch>
